<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>

<session-factory>
<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
<property  name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
<property name="connection.username">c##sandy</property>
<property  name="connection.password">baby</property>
<property  name="hibernate.show_sql">true</property>
<property  name="hibernate.format_sql">true</property>
<mapping resource="employee.hbm.xml"></mapping>
</session-factory>
</hibernate-configuration>